
<div>
    <hr>
    <form action="/products/search" method="get"/>

    Name:<br>
    <input type="text" name="name"/>
    <br>

    Description:<br>
    <input type="text" name="description"/>
    <br>

    Rating:<br>
    <input type="text" name="ratingLo"/>:
    <input type="text" name="ratingHi"/>
    <br>

    Price:<br>
    <input type="text" name="priceLo"/>:
    <input type="text" name="priceHi"/>
    <br>

    Page:<br>
    <input type="text" name="page" value="1"/>
    <br>

    Per page:<br>
    <input type="text" name="size" value="10"/>
    <br>

    <hr>
    <input type="submit" value="Search"/>
    </form><hr>

    {{#each data}}
        <div class="post">
            <div class="post-title">
                <h3>{{{_source.name}}}</h3>
            </div>
            <div class="post-body">
                <b>{{{_source.description}}}</b>
                <p>{{{_source.price}}} USD</p>
                <p>Rating: {{{_source.rating}}}</p>
            </div>
            <hr>
        </div>
    {{/each}}

</div>